# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*build-*

# ignore matlab GUI .asv files
*.asv


# ignore tex output files
SE_Report/*.pdf
SE_Report/*.out
*.aux
*.log
*.synctex.gz